.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s linear, box-shadow 1s ease-in;
    transition-delay: 0s, 1s;
    position: relative;
    animation: quica 1s infinite;
    -webkit-animation: quica 1s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}

@@keyframes quica {
  from {
    top: 0;
  }
  90% {
    transform: rotate(-2deg)
  }
  95% {
    transform: rotate(2deg);
  }
  to {
    top: 1em;
  }
}

@-webkit-keyframes quica {
  from {
    top: 0;
  }
  90% {
    transform: rotate(-2deg)
  }
  95% {
    transform: rotate(2deg);
  }
  to {
    top: 1em;
  }
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    animation-play-state: paused;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0.25em;
}

thead th {
  color: #fff;
  background-color: #3C1D3D;
}

th {
  text-align: center;
  padding: 1em;
  color: #fff;
  background-color: #851944;
}

td {
  background-color: #EEE;
  text-align: center;
  padding: 1em;
}

.habilidades [colspan] {
  text-align: center;
  font-style: italic;
}

.habilidades [rowspan] {
  vertical-align: middle;
}
